<launch>
     


     <node name="turtlebot_move" pkg="beginner_tutorials" type="turtlebot_move" output="screen" >
     </node>
     
     <node name="asus_node" pkg="beginner_tutorials" type="asus_node" output="screen">
     </node>

     <node name="thermal_node" pkg="beginner_tutorials" type="thermal_node" output="screen">
     </node>

     <node name="rgb_cam_node" pkg="beginner_tutorials" type="rgb_cam_node" output="screen">
     </node>

<launch>
